.personalInfo-section{
    max-width: 1920px;
    width: 100%;
    height:1080px;
}

.personalInfo-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side{
    position: relative;
    height: 100%;
    width: 1098px;
    background: var(--dark-background);
    overflow: hidden;
}

.auto-height .right-side{
    height: 1080px;
}

.right-side{
    position: relative;
    height: 1080px;
    width: 822px;
    background: var(--white-color);
    overflow: scroll;
    overflow-x: hidden;
}

.logo-img{
    position: absolute;
    bottom:44px;
    left: 78px;
}

/* form-wrapper-styles */

.form-wrapper{
    margin: 157px auto;
    display: flex;
    flex-direction: column;
}


/* leftSide-styles */

.userInfo-container{
    display: flex;
    justify-content: space-between;
}

.userInfo-container input{
    width: 371px;
    height: 48px;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding-left: 16px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    outline: none;
    color: var(--black-color);
}


.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
}


.input-label-title{
    margin-bottom: 8px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
}


.input-warning{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
    margin-top: 8px;
}

.error-img{
    position: absolute;
    right: -43.5px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.success-img{
    position: absolute;
    right: 14.75px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16.5px;
    height: 16.5px;
}

/* userPhoto-uploader-styles */

.userPhoto-uploader{
    display: flex;
    align-items: center;
    gap: 19px;
    margin-top: 54px;
}

.uploadPhoto-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--off-black-color);
    width: 232px;
}

.fileUpload-btn{
    width: 107px;
    height: 27px;
    background: var(--dark-blue);
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* about-me-container-styles */

.about-me-container{
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aboutMe-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
}

.about-me-container textarea{
    height: 103px;
    resize: none;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    outline: none;
    color: var(--placeholder-color);
    padding: 13px 0px 0px 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

/* user-email-box-styles */

.user-email-box{
    margin-top: 33px;
}

.user-email-box input, .user-phone-box input{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
    height: 48px;
    padding-left: 16px;
    outline: none;
}


/* user-phone-box-styles */

.user-phone-box{
    margin-top: 29px;
}


/* next-btn-styles */

.next-btn{
    width: 151px;
    height: 48px;
    background-color: var(--btn-bg-color);
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: var(--white-color);
    border: none;
    margin-left: auto;
    margin-top: 160px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.next-btn:hover{
    background-color: var(--btn-hover);
}

/* rightSide-styles */


.firstStep-container{
    margin: 68px 75px 0px 80px;
}


.fullName-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: var(--title-color);
}

.firstStep-container{
    display: flex;
}

.firstStep-leftSide{
    max-width: 432px;
    width: 100%;
    overflow: hidden;
}

.firstStep-rightSide{
    width: 246px;
}

.img-box{
    width: 246px;
    height: 246px;
    border-radius: 50%;
}

.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}