.experience-section{
    max-width: 1920px;
    width: 100%;
    height:1080px;
}

.auto-height{
    height: auto;
}

.experience-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.employer-box{
    margin-top: 31px;
}

.userPosition-box input, .employer-box input{
    height: 48px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
    outline: none;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}


/* date-input-wrapper-styles */

.date-input-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.date-input-wrapper input{
    width: 371px;
    height: 48px;
    padding-left: 16px;
    padding-right: 15px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    outline: none;
}


.date-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dateLabel-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
}


/* description-box-styles */

.description-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 33px;
}

.description-box textarea{
    resize: none;
    height: 123px;
    padding: 13px 0px 0px 16px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black-color);
    outline: none;
}

.description-box::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--light-line-color);
    display: inline-block;
    margin-top: 58px;
}


.add-more-btn{
    width: 289px;
    height: 48px;
    background: var(--light-blue);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
    margin-top: 45px;
}


/* added-experience-box-styles */

.added-experience-box{
    margin-top: 37px;
}

/* stepper-btn-container-styles */

.stepper-btn-container{
    display: flex;
    margin-top: 114px;
}

#next-btn{
    margin-top: 0px;
}

.prev-btn{
    width: 113px;
    height: 48px;
    border: none;
    background-color: var(--btn-bg-color);
    border-radius: 4px;
    color: var(--white-color);
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: var(--white-color);
    cursor: pointer;
}