.result-section{
    margin: 68px 75px 0px 80px;
}


/* firstStep-styles */

.userInfo-Container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userName-title-box{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.userName-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: var(--title-color);
}

.contactInfo-container{
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-box, .phoneNumber-box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.email-title, .phone-title{
    max-width: 402px;
    width: 100%;
    word-wrap: break-word;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--off-black-color);
}

.aboutMe-container{
    margin-top: 34px;
}

.about-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--title-color);
}

.aboutMe-text{
    max-width: 432px;
    width: 100%;
    height: 72px;
    word-wrap: break-word;
    margin-top: 15px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-color);
    height: auto;
}


.image-wrapper{
    width: 246px;
    height: 246px;
    border-radius: 50%;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.userInfo-wrapper::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
    display: inline-block;
    margin-top: 47px;
}



/* secondStep-styles */

.second-result-section{
    margin: 24px 80px 0px 80px;
}

.result-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--title-color);
}

.profession-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 7px;
}


.position-title, .employee-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}


.date-container{
    display: flex;
    align-items: center;
    margin-top: 7px;
    /* gap: 10px; */
}

.date-container p{
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}


.description-container{
    max-width: 662px;
    width: 100%;
    margin-top: 16px;
}


.description-container p{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--black-color);
    word-wrap: break-word;
}

/* third-result-section */


.third-result-section{
    margin: 24px 80px 0px 80px;
}

.add-line::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 26px;
}